.Component {
  margin-bottom: 1.5rem;
}

.Feedback {
  display: flex;
  align-items: center;
  justify-content: center;
}
.LinearProgress {
  width: 100%;
}
.LinearProgress div {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0.8rem 0 0 0;
}
.LinearProgress div > span:first-child {
  width: 100%;
}

.ratingStar {
  justify-content: center;
  display: flex;
  max-width: 8rem;
  align-items: center;
}
.stars {
  margin: 0.8rem 0 0 0;
}
.stars div {
  display: flex;
  /* margin: 0.8rem 0 0 0; */
}
